<!-- Extending the project layout, as this file will do minor customizations -->
{% extends "layouts/project.html" %}

<!-- Setting up variables to customize "project" details to be specific to index page -->
{% set project = "Tay's Fastpages" %}
{% set overview = "https://taykimmy.github.io/VSCodeProject/" %}
{% set repo = "https://github.com/TayKimmy/VSCodeProject" %}
{% set scrumboard = "https://github.com/users/Firestorm0986/projects/1/views/1" %}
{% set authors = "https://taykimmy.github.io/VSCodeProject/markdown/week%200/2022/08/22/My-First-Post.html" %}