<!-- Extending the project layout, as this file will do minor customizations -->
{% extends "layouts/project.html" %}

<!-- Setting up variables to customize "project" details to be specific to index page -->
{% set project = "Tay's Fastpages" %}
{% set overview = "https://nighthawkcodingsociety.com/projectsearch/details/Flask%20Portfolio%20Starter" %}
{% set repo = "https://taykimmy.github.io/VSCodeProject/" %}
{% set authors = "https://github.com/TayKimmy/VSCodeProject"  %}
{% set scrumboard = "https://github.com/ridhimainukurti/group-2/projects/1" %}